<!DOCTYPE html>
<html lang="en">

<head>
	<title>Electro Store Ecommerce</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<script type="text/javascript" src="1.js"></script>
	<link rel="stylesheet" href="1.css">
	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="./css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="../css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="../css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->

</head>

<body>
	<div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-4 header-most-top">
					<ul>
						<li class="user">
								<span><img src="images/man.png" class="rounded-circle" alt="" width="30" height="30"></span>
						</li>
						<li class="user">
								Xin chào: <span style="color:rgb(255,0,0)">No Name</span>
						</li>
						<li class="user">
								<button class="btn btn-danger" type="submit">Đăng xuất</button>
						</li>
					</ul>
				</div>
				<div class="col-lg-8 header-right mt-lg-0 mt-2">
					
				</div>
			</div>
		</div>
	</div>

	<!-- header-bottom-->
	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="index.html" class="font-weight-bold font-italic">
							<img src="images/logo2.png" alt=" " class="img-fluid">Cửa hàng
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="#" method="post">
								<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item">
							<a class="nav-link" href="index.html">Trang chủ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="index.html">Quản lý người dùng</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="checkProduct.html">
								Quản lý sản phẩm
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!--End select-->
	<div class="container">
	<div class="col-md-12">
	<div class="tbrow header">
	<div class="tbcol header id">ID</div>
	<div class="tbcol header username">Tên người bán</div>
	<div class="tbcol header shopname">Tên shop</div>
	<div class="tbcol header email">Email</div>
	<div class="tbcol header address">Địa chỉ</div>
	</div>
	</div>
	</div>
	<!-- Start Train -->
	<div class="container">
		<div class="gridview">
			<div class="tbrow">
				<div class="tbcol id count"></div>
				<div class="tbcol username">
					<div class="user-info">
						<div class="avatars">
							<img class="level-avatar" src="images/User-20_1.png">
							<img class="user-avatar" src="images/avatar.png">
						</div>
						<div class="info"><a title="TuanLQ7" href="/profile/3488">TuanLQ7</a></div>
					</div>
				</div>
				<div class="tbcol shopname">
					cuahangonline
				</div>
				<div class="tbcol email">tuanthanhddk@gmail.com</div>
				<div class="tbcol address">Thạch Mỹ-Lộc Hà-Hà Tĩnh</div>
			</div>
		</div>
		<div class="gridview">
			<div class="tbrow">
				<div class="tbcol id count"></div>
				<div class="tbcol username">
					<div class="user-info">
						<div class="avatars">
							<img class="level-avatar" src="images/User-20_1.png">
							<img class="user-avatar" src="images/avatar.png">
						</div>
						<div class="info"><a title="TuanLQ7" href="/profile/3488">TuanLQ7</a></div>
					</div>
				</div>
				<div class="tbcol shopname">
					cuahangonline
				</div>
				<div class="tbcol email">tuanthanhddk@gmail.com</div>
				<div class="tbcol address">Thạch Mỹ-Lộc Hà-Hà Tĩnh</div>
			</div>
		</div>
	</div>
	<!-- End Train -->
</body>

</html>