
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Electro Store Ecommerce | Thêm sản phẩm mới</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->

</head>

<body>
	<!-- top-header -->
	<div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-8 header-most-top">
				</div>
				<div class="col-lg-4 header-right ">
					<!-- header lists -->
                    <% if(session_user.role == 0) { %>
                        <ul>
                            <li>
                                <a class="btn btn-danger" href="add-product"> Đăng sản phẩm</a>						
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle col-2" href="#" role="button" >
                                    <span><img src="images/man.png" class="rounded-circle" alt="" width="30" height="30"></span>
                                </a>
                                <div class="dropdown-menu">
                                    Xin chào: <span style="color:rgb(255,0,0)"><%=session_user.name%></span>
                                    <a class="dropdown-item" href="profile">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="my-order">Quản lý đơn hàng</a>
                                    <a class="dropdown-item" href="logout">Đăng xuất</a>
                                </div>
                            </li>
                        </ul>

                    <% } else if(session_user.role == 1) { %>
                        <ul>
                            <li>
                                <a class="btn btn-danger" href="add-product"> Đăng sản phẩm</a>							
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle col-2" href="#" role="button" >
                                    <span><img src="images/man.png" class="rounded-circle" alt="" width="30" height="30"></span>
                                </a>
                                <div class="dropdown-menu">
                                    Xin chào: <span style="color:rgb(255,0,0)"><%=session_user.name%></span>
                                    <a class="dropdown-item" href="profile">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="manage-product">Quản lý mặt hàng</a>
                                    <a class="dropdown-item" href="manage-order">Quản lý đơn hàng</a>
                                    <a class="dropdown-item" href="logout">Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    <% } else if(session_user.role == 2) { %> 
                        <ul>
                            <li class="dropdown">
                                <a class="dropdown-toggle col-2" href="#" role="button" >
                                    <span><img src="images/man.png" class="rounded-circle" alt="" width="30" height="30"></span>
                                </a>
                                <div class="dropdown-menu">
                                    Xin chào: <span style="color:rgb(255,0,0)"><%=session_user.name%></span>
                                    <a class="dropdown-item" href="admin/manage-user">Quản lý người bán</a>
                                    <a class="dropdown-item" href="admin/manage-product">Quản lý sản phẩm</a>
                                    <a class="dropdown-item" href="logout">Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    <% } else { %>   
					<ul>
						<li class="text-center border-right text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập </a>
						</li>
						<li class="text-center text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal2" class="text-white">
								<i class="fas fa-sign-out-alt mr-2"></i>Đăng ký</a>
						</li>
                    </ul>
                    <% } %>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div>
	<!-- //top-header -->
	<!-- modals -->
	<!-- log in -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center">Đăng nhập</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="login-form">
						<div class="form-group">
							<label class="col-form-label">Email</label>
							<input type="text" class="form-control" placeholder=" " id = "log-email" name= "log-email" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Mật khẩu</label>
							<input type="password" class="form-control" placeholder=" " id = "log-password" name="log-password" required="">
						</div>
						<div class="">
                            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="login()"> Đăng nhập </button>
                        </div>
                        <p id="login-state">  </p>
						<p class="text-center dont-do mt-3">Bạn chưa có tài khoản?
							<a href="#" data-toggle="modal" data-target="#exampleModal2">
								Đăng ký ngay!</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- register -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Đăng ký</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name= register-form method=post action="#">
						<div class="form-group">
							<label class="col-form-label">Tên</label>
							<input type="text" class="form-control" id = "reg-name" name= "reg-name" required>
						</div>
						<div class="form-group" id="emailERR">
							<label class="col-form-label">Email</label>
							<input type="email" class="form-control" id = "reg-email" name= "reg-email" required onchange="checkEmail()">
							<p id="err"></p>
						</div>
						<div class="form-group">
							<label class="col-form-label">Mật khẩu</label>
							<input type="password" class="form-control" id="reg-password" name="reg-password"required>
						</div>
						<div class="form-group">
							<label class="col-form-label">Xác nhận mật khẩu</label>
							<input type="password" class="form-control" placeholder=" " name="reg-password2" id="reg-password2" required>
                            <p id="reg-password-check">  </p>
                        </div>
						<div class="right-w3l" id = Button>
                            <button type="button" id = registerButton class="btn btn-primary btn-lg btn-block" onclick="register()"> Đăng ký </button>
							<!-- <input type="submit" id = registerButton class="form-control" value="Đăng ký"> -->
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->

	<!-- header-bottom-->
	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="index.html" class="font-weight-bold font-italic">
							<img src="images/logo2.png" alt=" " class="img-fluid">Cửa hàng
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="#" method="post">
								<input class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phảm" aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="submit">Tìm kiếm</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="">
							<div class="">
								<form action="" method="post" >
									<button class="btn w3view-cart" type="button" name="submit" value="" onclick="CartAccess()">
										<i class="fas fa-cart-arrow-down"></i>
									</button>
								</form>
							</div>
                        </div>
                        <script type="text/javascript">
                            function CartAccess() {
                                console.log("vao ham cartaccess")
                                $.ajax({
                                url: '/checkout',
                                type: 'POST',
                                cache: false,
                                data: {},
                                success: function (data) {
                                    console.log("data", data);
                                    if(data.accessCart == false) {
                                        alert("Bạn phải đăng nhập để sử dụng chức năng giỏ hàng")
                                    } else {
                                        window.location.replace(data.url)
                                    }
                                }
                                , error: function (jqXHR, textStatus, err) {
                                    alert('text status ' + textStatus + ', Loi roi ' + err)
                                }
                                })
                            }           
                        </script>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="main.html">Trang chủ</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product.html" role="button" aria-haspopup="true" aria-expanded="false">
								Điện thoại
							</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product.html" role="button" aria-haspopup="true" aria-expanded="false">
								Máy tính
							</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product.html" role="button" aria-haspopup="true" aria-expanded="false">
								Máy ảnh
							</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product.html" role="button" aria-haspopup="true" aria-expanded="false">
								Phụ kiện
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Liên hệ</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Trang chủ</a>
						<i>|</i>
					</li>
					<li>Đăng bán</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- payment page-->
	<div class="privacy py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>Đ</span>ăng 
				<span>B</span>án
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<!--Horizontal Tab-->
				<div id="parentHorizontalTab">
					<ul class="resp-tabs-list hor_1">
						
						<li>Thông tin sản phẩm mới</li>
						
					</ul>
					<div class="resp-tabs-container hor_1">

						<div>
							
							<form action="#" method="post" class="creditly-card-form agileinfo_form" id="add_form">
								<div class="creditly-wrapper wthree, w3_agileits_wrapper">
									<div class="credit-card-wrapper">
										<div class="first-row form-group">
										</div>
										
											<div class="section_room_pay">
												<label class="control-label">Danh mục sản phẩm</label>
												<select class="year" id="product">
													<option value="Dienthoai" >Điện thoại</option>
													<option value="Maytinh" >Máy tính</option>
													<option value="Phukien" >Phụ kiện</option>
													<option value="Mayanh" >Máy ảnh</option>			
												</select>
											</div>
											<br>
											<div class="controls">
												<label class="control-label">Tên sản phẩm</label>
												<input class="billing-address-name form-control" type="text" id="add-name" name="name" >
											</div>
											<br>
											<div class="controls">
												<label class="control-label">Số lượng</label>
												<input class="billing-address-name form-control" type="text" id="add-amount" name="name" >
											</div>
											<br>
											<div class="controls">
												<label class="control-label">Tên thương hiệu</label>
												<input class="billing-address-name form-control" type="text" id="add-brand" name="name" >
											</div>
											<div class="w3_agileits_card_number_grids my-3">
												<div class="w3_agileits_card_number_grid_left">
													<div class="controls">
														<label class="control-label">Giá gốc</label>
														<input class="billing-address-name form-control" id="add-price" type="text" name="price" >
													</div>
													<br>
													<div class="controls">
														<label class="control-label">Giá khuyến mãi</label>
														<input class="billing-address-name form-control" id="add-disprice" type="text" name="disprice" >
													</div>
												</div>
												<div class="w3_agileits_card_number_grid_right mt-2">
													<div class="controls">
														<label class="control-label">Mô tả sản phẩm</label>
														<textarea class="form-control" type="textarea" id="add-detail" name="detail" value="xxx" ></textarea>
													</div>
												</div>
												
												<div class="clear"> </div>
											</div>
											<div class="controls">
												<label class="control-label">Hình ảnh</label>
												<div class="container-fluid row col-sm-12">
													<div class="col-sm-4">
													<p><input type="file" accept="image/*" name="image" id="filea" onchange="loadFilea(event)" style="display: none;"></p>
													<p><label for="filea" style="cursor: pointer;">Hình ảnh 1</label></p>
													<p><img id="outputa" width="200" height="200"/></p>
													</div>
													<div class="col-sm-4">
													<p><input type="file" accept="image/*" name="image" id="fileb" onchange="loadFileb(event)" style="display: none;"></p>
													<p><label for="fileb" style="cursor: pointer;">Hình ảnh 2</label></p>
													<p><img id="outputb" width="200" height="200"/></p>
													</div>
													<div class="col-sm-4">
													<p><input type="file" accept="image/*" name="image" id="filec" onchange="loadFilec(event)" style="display: none;"></p>
													<p><label for="filec" style="cursor: pointer;">Hình ảnh 3</label></p>
													<p><img id="outputc" width="200" height="200"/></p>
													</div>
													</div>

												<script>
												var loadFilea = function(event) {
												var image = document.getElementById('outputa');
												image.src = URL.createObjectURL(event.target.files[0]);
												};
												var loadFileb = function(event) {
												var image = document.getElementById('outputb');
												image.src = URL.createObjectURL(event.target.files[0]);
												};
												var loadFilec = function(event) {
												var image = document.getElementById('outputc');
												image.src = URL.createObjectURL(event.target.files[0]);
												};
												</script>
											</div>
										</div>
										<br>
										<div class="right-w3l" id = add-Button>
											<button type="button" id = addButton class="btn btn-primary btn-lg btn-block" onclick="add()"> Đăng tin </button>
											<!-- <input type="submit" id = registerButton class="form-control" value="Đăng ký"> -->
										</div>
									</div>
								</div>
							</form>
						</div>			
					</div>
				</div>
				<!--Plug-in Initialisation-->
			</div>
		</div>
	</div>
	<!-- //payment page -->


	<!-- footer -->
	<footer>
		<div class="footer-top-first">
			<div class="container py-md-5 py-sm-4 py-3">
				<!-- footer first section -->
				<h2 class="footer-top-head-w3l font-weight-bold mb-2">Giới thiệu về chúng tôi</h2>
				<p class="footer-main mb-4">
					Nếu bạn đang cân nhắc một chiếc máy tính xách tay mới, điện thoại mới hoặc mua một chiếc máy ảnh mới, chúng tôi sẽ giúp bạn dễ dàng tìm thấy chính xác những gì bạn cần với mức giá bạn có thể mua được. Nếu bạn đang muốn bán những sản phẩm như máy tính,máy ảnh, điện thoại và phụ kiện thì chúng tôi sẽ giúp bạn bán dễ dàng.
				</p>
				<!-- //footer first section -->
				<!-- footer second section -->
				<div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
					<div class="col-md-4 offer-footer">
						<div class="row">
							<div class="col-4 icon-fot">
								<i class="fas fa-dolly"></i>
							</div>
							<div class="col-8 text-form-footer">
								<h3>Miễn phí vận chuyển</h3>
								<p>Đơn hàng trên 1.000.000vnđ</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 offer-footer my-md-0 my-4">
						<div class="row">
							<div class="col-4 icon-fot">
								<i class="fas fa-shipping-fast"></i>
							</div>
							<div class="col-8 text-form-footer">
								<h3>Vận chuyển nhanh</h3>
								<p>Toàn quốc</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 offer-footer">
						<div class="row">
							<div class="col-4 icon-fot">
								<i class="far fa-thumbs-up"></i>
							</div>
							<div class="col-8 text-form-footer">
								<h3>Tin cậy</h3>
								<p>Sự đảm bảo</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //footer second section -->

			</div>
		</div>
		<!-- footer third section -->
		<div class="w3l-middlefooter-sec">
			<div class="container py-md-5 py-sm-4 py-3">
				<div class="row footer-info w3-agileits-info">
					<!-- footer categories -->
					<div class="col-md-4 col-sm-6 footer-grids">
						<h3 class="text-white font-weight-bold mb-3">Danh mục</h3>
						<ul>
							<li class="mb-3">
								<a href="product.html">Điện thoại</a>
							</li>
							<li class="mb-3">
								<a href="product.html">Máy tính</a>
							</li>
							<li class="mb-3">
								<a href="product.html">Máy ảnh</a>
							</li>
							<li class="mb-3">
								<a href="product.html">Phụ kiện</a>
							</li>
						</ul>
					</div>
					<!-- //footer categories -->
					<div class="col-md-4 col-sm-6 footer-grids mt-md-0 mt-4">
						<h3 class="text-white font-weight-bold mb-3">Liên lạc</h3>
						<ul>
							<li class="mb-3">
								<i class="fas fa-mobile"></i> 033 222 3333 </li>
							<li class="mb-3">
								<i class="fas fa-phone"></i> +222 11 4444 </li>
							<li class="mb-3">
								<i class="fas fa-envelope-open"></i>
								<a href="mailto:example@mail.com"> shop@gmail.com</a>
							</li>
							<li>
								<i class="fas fa-envelope-open"></i>
								<a href="mailto:example@mail.com"> daothanh@example.com</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
						<!-- newsletter -->
						<h3 class="text-white font-weight-bold mb-3">Bản tin</h3>
						<p class="mb-3">Miễn phí vận chuyển cho đơn hàng đầu tiên!</p>
						<!-- //newsletter -->
						<!-- social icons -->
						<div class="footer-grids  w3l-socialmk mt-3">
							<h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
							<div class="social">
								<ul>
									<li>
										<a class="icon fb" href="#">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li>
										<a class="icon tw" href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a class="icon gp" href="#">
											<i class="fab fa-google-plus-g"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- //social icons -->
					</div>
				</div>
				<!-- //quick links -->
			</div>
		</div>
		<!-- //footer third section -->
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="copy-right py-3">
		<div class="container">
			<p class="text-center text-white">© 2020 Electro Store. All rights reserved | Design by
				<a href="http://w3layouts.com">DMTTN</a>
			</p>
		</div>
	</div>
	<!-- //copyright -->
	<!-- js-files -->
	<!-- jquery -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- //jquery -->

	<!-- nav smooth scroll -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //nav smooth scroll -->

	<!-- popup modal (for location)-->
	<script src="js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //popup modal (for location)-->

	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
		paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

		paypals.minicarts.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 1) {
				alert('The minimum order quantity is 1. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- easy-responsive-tabs -->
	<link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
	<script src="js/easyResponsiveTabs.js"></script>

	<script>
		$(document).ready(function () {
			//Horizontal Tab
			$('#parentHorizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				tabidentify: 'hor_1', // The tab groups identifier
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#nested-tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
		});
	</script>
	<!-- //easy-responsive-tabs -->

	<!-- credit-card -->
	<script src="js/creditly.js"></script>
	<link rel="stylesheet" href="css/creditly.css" type="text/css" media="all" />
	<script>
		$(function () {
			var creditly = Creditly.initialize(
				'.creditly-wrapper .expiration-month-and-year',
				'.creditly-wrapper .credit-card-number',
				'.creditly-wrapper .security-code',
				'.creditly-wrapper .card-type');


			$(".creditly-card-form .submit").click(function (e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
					// Your validated credit card output
					console.log(output);
				}
			});
		});
	</script>

	<!-- creditly2 (for paypal) -->
	<script src="js/creditly2.js"></script>
	<script>
		$(function () {
			var creditly = Creditly2.initialize(
				'.creditly-wrapper .expiration-month-and-year-2',
				'.creditly-wrapper .credit-card-number-2',
				'.creditly-wrapper .security-code-2',
				'.creditly-wrapper .card-type');

			$(".creditly-card-form-2 .submit").click(function (e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
					// Your validated credit card output
					console.log(output);
				}
			});
		});
	</script>

	<!-- //credit-card -->


	<!-- smoothscroll -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script type="text/javascript">
        function emailERR(msg) {
            var child = document.getElementById("err");
            child.remove()

            err = document.createElement("p");
            err.setAttribute("id", "err")
            var node = document.createTextNode(msg);
            err.appendChild(node);
            var element = document.getElementById("emailERR");
            element.appendChild(err);
        }
        function checkEmail() {
            var email = $("#reg-email").val();
            console.log(email)
            $.ajax({
                url: '/checkEmail',
                type: 'POST',
                cache: false,
                data: { email: email },
                success: function (data) {
                    if (data.duplicate) {
                        console.log("ket qua:", data.duplicate)
                        emailERR("Email đã tồn tại")
                        document.getElementById("registerButton").disabled = true;
                        document.getElementById("Button").style.backgroundColor = "red";
                    }
                    else {
                        emailERR("Email hợp lệ");
                        document.getElementById("registerButton").disabled = false;
                    }
                }
                , error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
                }
            })
		}
		function add() {
            console.log("them sp")
            var forms = document.forms["add_form"]
            if(forms.checkValidity()) {
                var e = document.getElementById("product");
				var strUser = e.options[e.selectedIndex].text;	
				var Name = $("#add-name").val();
				var Soluong  = $("#add-amount").val();
				var Brand  = $("#add-brand").val();
				var Price = $("#add-price").val();
				var discountPri= $("#add-disprice").val();
				var Detail= $("#add-detail").val();
                $.ajax({
                    url: '/add',
                    type: 'POST',
                    cache: false,
                    data: { strUser, Name, Soluong, Brand, Price, discountPri, Detail},
                    success: function (data) {
                        console.log(data);
                        if(data.profileState == true) {
                            alert("Cập nhật thông tin thành công")
                            location.reload();
                        } else {
                            alert("Cập nhật thông tin thành công")
                        }
                    }
                    , error: function (jqXHR, textStatus, err) {
						alert(Brand)
                        alert('Lỗi ' + textStatus + ', lỗi ' + err)
                    }
                    })
            } else alert("Vui lòng điền đầy đủ các trường")  
		}
        
        function login() {
            console.log("vao ham login")
            var forms = document.forms["login-form"]
            if(forms.checkValidity()) {
                var Email = $("#log-email").val();
                var Password = $("#log-password").val();
                $.ajax({
                url: '/login',
                type: 'POST',
                cache: false,
                data: { Email, Password },
                success: function (data) {
                    console.log(data);
                    if(data.loginState == false) {
                        console.log("dang nhap that bai")
                        document.getElementById("login-state").innerHTML = "Email hoặc mật khẩu không đúng";
                    } else {
                        window.location.replace(data.url)
                    }
                }
                , error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
                }
                })
            } else alert("Vui lòng điền đầy đủ các trường")  
        }
        function register() {
            console.log("vao ham register")
            var forms = document.forms["register-form"]
            if(forms.checkValidity()) {
                var Name = $("#reg-name").val();
                var Email = $("#reg-email").val();
                var Password = $("#reg-password").val();
                var Password2 = $("#reg-password2").val();
                if(Password != Password2) {
                    document.getElementById("reg-password-check").innerHTML = "Mật khẩu không khớp";
                } else if (Password.length <8) {
                    document.getElementById("reg-password-check").innerHTML = "Mật khẩu dài tối thiểu 8 kí tự";
                } else {
                    $.ajax({
                    url: '/register',
                    type: 'POST',
                    cache: false,
                    data: { Email, Password, Name},
                    success: function (data) {
                        console.log(data);
                        if(data.registerState == true) {
                            alert("Đăng ký thành công")
                            location.reload();
                        } else {
                            alert("Đăng ký không thành công")
                        }
                    }
                    , error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)
                    }
                    })
                }
            } else alert("Vui lòng điền đầy đủ các trường")  
        }
                      
    </script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->

</body>

</html>