<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
    <center>
        <script type="text/javascript">
            let alowRegister = false;

            function emailERR(msg) {
                var child = document.getElementById("err");
                child.remove()

                err = document.createElement("p");
                err.setAttribute("id", "err")
                var node = document.createTextNode(msg);
                err.appendChild(node);
                var element = document.getElementById("emailERR");
                element.appendChild(err);
            }
            function checkEmail() {
                var email = $("#Email").val();
                console.log(email)
                $.ajax({
                    url: '/checkEmail',
                    type: 'POST',
                    cache: false,
                    data: { email: email },
                    success: function (data) {
                        if (data.duplicate) {
                            emailERR("email Đã tồn tại")
                            alowRegister = false
                        }
                        else {
                            emailERR("Email hợp lệ");
                            alowRegister = true
                        }
                    }
                    , error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)
                    }
                })
            }
            function hello() {
                var forms = document.forms["f1"]
                if(forms.checkValidity()) {
                    var Email = $("#Email").val();
                    var Password = $("#Password").val();
                    var Name = $("#Name").val();

                    if(alowRegister) {
                        $.ajax({
                        url: '/register',
                        type: 'POST',
                        cache: false,
                        data: { Email, Password, Name },
                        success: function (data) {
                            alert("Đăng kí thành công, trở về trang chủ");
                            location.reload();
                        }
                        , error: function (jqXHR, textStatus, err) {
                            alert('text status ' + textStatus + ', err ' + err)
                        }
                        })
                    }
                } else alert("Vui Lòng điền đầy đủ")
                
            }
                          
        </script>
        <form name=f1 method=post action="#">
            <table name=table1>
                <caption>
                    <h2> Register </h2>
                </caption>
                <tr>
                    <div id = "emailERR">
                        <td>Username</td>
                        <td><input type=text id=Email name=Email required onchange="checkEmail()"></td>
                        <p id = err>  </p>
                    </div> 
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type=text id =Password name=Password required></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><input type=text id=Name name=Name required></td>
                </tr>
            </table> <br>
            <td>
                <input type=button value="OK" onclick="hello()">

            </td>
            <td><input type=reset name=reset value="Reset"></td>
            <td><input type=button name=cancel value="Cancel"></td>

        </form>
    </center>
</body>

</html>